.more__title{
    font-family: DIN Pro,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #A4ACAD;
    margin: 50px 0 10px 0;
}
.more__subtitle{
    font-family: DIN Pro,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #A4ACAD;
}
.more__text{
    font-family: DIN Pro,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #A4ACAD;
    margin: 10px 0;
}
.more__list{
    margin-left: 25px;
    list-style-type: disc;
    font-family: DIN Pro,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #A4ACAD;
}
.more__text-grad{
    font-family: DIN Pro,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 100%);
    color: #A4ACAD;
    margin: 10px 0;
}
.more__btn{
    font-family: DIN Pro,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    color: #F46D40;
    background: transparent;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0;
}