.product__link{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.product__link-text{
    font-family: DIN Pro,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    transition: .3s;
    cursor: pointer;
}

.product__link-text:hover{
    color: #FF9846;
    transition: .3s;
}

.product__content{
    display: flex;
    background-color: white;
    margin: 52px 0 30px;
}
.product__content-img{
    width: 50%;
}
.product__content-info{
    display: flex;
    flex-direction: column;
    padding: 20px 58px 47px 41px;
}
.product__content-title{
    font-family: DIN Pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
}
.content__card-sizes{
    padding: 20px 0 0 0;
}
.product__content-buy{
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin: 30px 0;
}
.content__card-price{
    font-family: DIN Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}
.product__content-line{
    width: 21px;
    height: 2px;
    background-color: black;
}
.product__content-pay{
    display: flex;
    column-gap: 19px;
}
.product__content-pay-count{
    font-family: DIN Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
}
.product__content-pay-btn {
    width: 40px;
    height: 40px;
    background: #F46D40;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: .5s;
}
.product__content-pay-btn:hover{
    transition: .5s;
    background-color: red;
}
.content__card-btn{

}

.product__rec{
    font-family: DIN Pro,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}
.product__swiper-img{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
}

.product__swiper-title{
    font-family: DIN Pro,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin: 10px 0;
}
.product__swiper-buy{
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
}
.product__swiper-btn{
    width: 26px;
    height: 26px;
    background: #F46D40;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    border: none;
    transition: .5s;
    cursor: pointer;

}

.product__swiper-btn:hover{
    transition: .5s;
    background-color: red;
}
.swiper-button-next{
    width: 60px !important;
    height: 60px !important;
    background-color: black;
    border-radius: 50%;
    color: white!important;
    top: 50% !important;
    right: 0 !important;
    transform: translateY(-50%);

}
.swiper-button-prev{
    top: 50% !important;
    left: 0 !important;
    transform: translateY(-50%);
    border-radius: 50%;
    color: white!important;
    width: 60px !important;
    height: 60px !important;
    background-color: black;
}
.swiper-button-prev::after{
    font-size: 16px!important;
}
.swiper-button-prev::before{
    font-size: 16px!important;
}
.custom__swiper{
    position: relative;
}
.product__swiper{
    padding: 0 80px!important;
}